<h1>Listing team_roles</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @team_roles.each do |team_role| %>
  <tr>
    <td><%= team_role.name %></td>
    <td><%= link_to 'Show', team_role %></td>
    <td><%= link_to 'Edit', edit_team_role_path(team_role) %></td>
    <td><%= link_to 'Destroy', team_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team role', new_team_role_path %>
