<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topnav">
<%= render "navigation" %>
</div>

<div class="errormesg">
<% if !notice.nil? %>
<p class="flash_notice"><%= notice %></p>
<% end %>

<% if !alert.nil? %>
<p class="flash_alert"><%= alert %></p>
<% end %>

</div>

<%= yield %>

</body>
</html>
